{% extends 'base.html' %}
{% block content %}
<h1>Change Password</h1>
<div class="mb-3">
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark">Change</button>
 <ul>
     <li>Your password can’t be too similar to your other personal information.</li>
     <li>Your password must contain at least 8 characters.</li>
     <li>Your password can’t be a commonly used password.</li>
     <li>Your password can’t be entirely numeric.</li>
 </ul>
</div>
{% endblock %}